JSON_responses/**
api_key_prod.json
pics/**
JSON_responses/products37878413photos.json
importfiler/**
node_modules/**
node_modules/.bin/concurrently
package-lock.json
package.json
JSON_responses/products.json
package-lock.json
package.json
.vscode/settings.json
JSON_responses/products.json
